server:
  port: 8085

spring:
  application:
    name: authentication-service

  config:
    import: optional:configserver:http://localhost:8083

management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info
