server:
  port: 8082

spring:
  application:
    name: ORDER-TRACKING-SERVICE
  jackson:
    serialization:
      write-dates-as-timestamps: false
  config:
    import: "optional:configserver:http://localhost:8083"

# JWT (must match gateway secret)
#jwt:
#  secret: my-secret-key-which-is-very-secure-and-at-least-32-bytes

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
      micrometer:
        enabled: true

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

resilience4j:
  circuitbreaker:
    instances:
      creditScoreCB:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: COUNT_BASED
  retry:
    configs:
      default:
        max-attempts: 5
        wait-duration: 5s
    instances:
      creditScoreCB:
        retry-exceptions:
          - feign.RetryableException
          - feign.FeignException
          - java.io.IOException
          - java.net.ConnectException
        base-config: default
        max-retry-attempts: 5
        wait-duration: 5s

logging:
  pattern:
    level: "%5p [${spring.application.name:},traceId=%X{traceId:-},spanId=%X{spanId:-}]"
  file:
    name: "D:/ecommerce/ecommerce-app/logs/order-service1.log"
#  datasource:
#    url: jdbc:mysql://localhost:3306/userdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
#
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL8Dialect
#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka









